<div>
  <h2>Simulation webapp</h2>
  <div>
    Please enter simulation parameters :
    <div>
      <label>Number of students classes :</label>
      <input [(ngModel)] = "nbClasses" type="number" >
    </div>
    <div>
      <label>Number of students per class :</label>
      <input type="number" [(ngModel)] = "nbStudentPerClass">
    </div>
    <div>
      <label>Max ressources per class :</label>
      <input type="number" [(ngModel)] = "maxRessourcesPerClass">
    </div>
    <button type="submit" (click)="launchSimulation();">Start simulation</button>
  </div>
  
</div>
