<div style="height: 100%">
  <h2>Simulation webapp</h2>
  <div class="parameters" *ngIf="!isSimulationStarted">
    <div>
      <h3>Please enter simulation parameters :</h3>
      <div>
        <label>Simulation duration (in weeks):</label>
        <input [(ngModel)]="simulationDuration" type="number" (input)="updateHpcRessources()">
      </div>
      <div>
        <h4>Student parameters :</h4>
        <div>
          <label>Number of students classes :</label>
          <input [(ngModel)]="nbClasses" type="number" min="0" (input)="updateNbClasses()">
        </div>
        <div class="classes" *ngFor="let class of classes; let i=index">
          <div>
            <label>Number of students for class n° {{i+1}}:</label>
            <input type="number" [(ngModel)]="class.nbStudents" min="0" (input)="updateClass(class)">
          </div>
          <div>
            <label>Max ressources per class (core/hour) :</label>
            <input type="number" min="0" [(ngModel)]="class.ressources">
          </div>
        </div>
      </div>
      <div>
        <h4>Researchers parameters :</h4>
        <div>
          <label>Number of researchers groups :</label>
          <input [(ngModel)]="nbGroups" type="number" min="0" (input)="updateNbGroups()">
        </div>
        <div class="classes" *ngFor="let group of groups; let i=index">
          <div>
            <label>Number of researchers for group n° {{i+1}}:</label>
            <input type="number" min="0" [(ngModel)]="group.nbResearchers" (input)="updateGroup(group)">
          </div>
          <div>
            <label>Max ressources per group (core/hour) :</label>
            <input type="number" min="0" [(ngModel)]="group.ressources">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4>HPC system parameters :</h4>
      <div>
        <label>Number of nodes :</label>
        <input [(ngModel)]="nbNode" type="number" (input)="updateHpcRessources()">
      </div>
      <div>
        <label>Number of cores by node :</label>
        <input [(ngModel)]="nbCorePerNode" type="number" (input)="updateHpcRessources()">
      </div>
      <div>
        <label>Total number of cores : </label>
        {{nbCoreTot}}
        <br/>
        <label>Number of cores dedicated to short jobs :</label>
        {{nbCoreS}}
        <br/>
        <label>Number of cores dedicated to medium jobs :</label>
        {{nbCoreM}}
        <br/>
        <label>Number of cores dedicated to large jobs :</label>
        {{nbCoreL}}
        <br/>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button *ngIf="!isSimulationStarted" type="submit" (click)="launchSimulation();">Start simulation</button>
    <button *ngIf="isSimulationStarted" type="submit" (click)="stopSimulation();">Stop simulation</button>
  </div>

  <div *ngIf="isSimulationStarted">
    <h2>Simulation live data</h2>
    <label>Hours of simulation : </label>{{time}} ,
    <label *ngIf="!isWeekEnd" style="color:green">Week</label>
    <label *ngIf="isWeekEnd" style="color:red">Weekend</label> {{weeknumber}},
    <br/> Short jobs : {{rejectedSmallJobs.length}} rejected, {{queueSmall.jobs.length}} queued, {{runningSmallJobs.length}} running,
    {{finishedSmallJobs.length}} finished.
    <br/> Medium jobs : {{rejectedMediumJobs.length}} rejected, {{queueMedium.jobs.length}} queued, {{runningMediumJobs.length}}
    running, {{finishedMediumJobs.length}} finished.
    <br/> Large jobs : {{rejectedLargeJobs.length}} rejected, {{queueLarge.jobs.length}} queued, {{runningLargeJobs.length}} running,
    {{finishedLargeJobs.length}} finished.
    <br/> Huge jobs : {{rejectedHugeJobs.length}} rejected, {{queueHuge.jobs.length}} queued, {{runningHugeJobs.length}} running,
    {{finishedHugeJobs.length}} finished.
    <br/>
  </div>

  <div class="output" *ngIf="isSimulationStarted">
    <h2>Output</h2>
    <textarea [(ngModel)]="textOutput"></textarea>
  </div>
</div>